# Hello

In [1]:
print("Hello World")
print("Welcome to Edureka")

print("Happy Learning \nWelcome to Python")

Hello World
Welcome to Edureka
Happy Learning
Welcome to Python

# Variables

In [2]:
A=10
B='XYZ Inc!'

print(A,B)

#another example

x,y,z=10,20,30

print(x)
print(y)
print(z)

10 XYZ Inc!
10
20
30

# Data types

In [3]:
# integer
num1 = 100

# float or decimal
num2 = 100.45

In [4]:
# string
str1 = 'Data science with python'

In [5]:
# boolean
answer = True

In [6]:
# tuple
t = (100, 'Python')

In [18]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3]

# list with mixed datatypes
my_list = [1, "Hello", 3.4]

# nested list
my_list = ["Happy", [2,0,1,5]]

In [19]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}

# using dict()
my_dict = dict({1:'apple', 2:'ball'})

In [20]:
# 'set' of integers
my_set = {1,5,7,0,3,4, 3, 3 ,3 }
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{0, 1, 3, 4, 5, 7}
{1.0, 'Hello', (1, 2, 3)}

** ID and TYPE **

- The built-in function id() returns the identity of an object as an integer. 
- This integer usually corresponds to the object’s location in memory, although this is specific to the Python implementation and the platform being used. The is operator compares the identity of two objects.

In [21]:
num1 = 10
num2 = 10.10
str1 = 'ML'
answer = True
t = (100, 'Python')

In [22]:
id(num1), id(num2), id(str1), id(answer), id(t)

(1924948416, 1612638270784, 1612638580104, 1924456608, 1612620705160)

In [23]:
type(num1), type(num2), type(str1), type(answer), type(tuple)

(int, float, str, bool, type)

In [24]:
type(my_list), type(my_set), type(my_dict)

(list, set, dict)

# Mutable and Immutable Objects 

Every variable in python holds an instance of an object. There are 2 types of objects in python i.e. 
- Mutable and 
- Immutable objects. 

    Whenever an object is instantiated, it is assigned a unique object id. 

    The type of the object is defined at the runtime and it can’t be changed afterwards. 

However, it’s state can be changed if it is a mutable object.

- Mutable objects: list, dict, set, byte array

- Immutable objects: int, float, complex, string, tuple, frozen set [note: immutable version of set], bytes

# Immutable Objects  : 
- int, 
- float, 
- bool, 
- string, 
- unicode, 
- tuple. 

In simple words, an immutable object can’t be changed after it is created.

#### Immutable Objects -  int

In [25]:
# d is assigned a memory location
# that memory location holds the value 2345
d = 2345

In [26]:
type(d)

int

In [27]:
d = 100

In [28]:
# you cannot change the value of the location 
d[0] =4

TypeError: 'int' object does not support item assignment

In [29]:
# but you change the value of d
# now d is assigned another memory location
d = 100

In [3]:
# a change in var_1 was not reflected in var_2 
var_1 = 6
var_2 = var_1

var_1 = 9

print("var_1: {}".format(var_1))
print("var_2: {}".format(var_2))

var_1: 9
var_2: 6

#### Immutable Objects -  bool

In [30]:
var_1 = True
var_2 = var_1

var_1 = False

print("var_1: {}".format(var_1))
print("var_2: {}".format(var_2))

print("data science class {} {} {}".format('IS GREAT', 'SUPER', 'AT Simplilearn'))

var_1: False
var_2: True
data science class IS GREAT SUPER AT Simplilearn

#### Immutable Objects -  Strings

In [32]:
# Python code to test that  strings are immutable  
message    = "Welcome to Data Science class"
message[0] = 'p'
print(message)

TypeError: 'str' object does not support item assignment

In [33]:
message[0]

'W'

In [34]:
# but this is OK
message = 'Bangalore'

In [35]:
message[0] = 'p'

TypeError: 'str' object does not support item assignment

#### Immutable Objects -  tuple

In [36]:
# tuple
t = (100, 'Python')

t[0], t[1]

(100, 'Python')

In [37]:
t[0] = 200

TypeError: 'tuple' object does not support item assignment

In [38]:
# but this is OK
t = (200, 'Python')

In [39]:
x, y

(10, 20)

# mutable Objects  : 
- list
- sets
- dict

In [40]:
# list of integers
my_list = [1, 2, 3]
y       = my_list

In [26]:
my_list, y

([1, 2, 3], [1, 2, 3])

In [41]:
my_list[0] = 100

In [42]:
# y shows the changes
my_list, y

([100, 2, 3], [100, 2, 3])

In [43]:
# set of integers
my_set = {1,5,7,0,3,4, 3, 3 ,3 }
y = my_set

In [44]:
my_set.add(100)

In [109]:
# y shows the changes
my_set, y

({0, 1, 3, 4, 5, 7, 100}, {0, 1, 3, 4, 5, 7, 100})

# Python Operators

#### arithmaic operators

In [46]:
a = 18
b = 10

In [47]:
a + b, a - b, a * b, a / b, a // b, a % b, a ** b

(28, 8, 180, 1.8, 1, 8, 3570467226624)

In [48]:
a == b, a != b, a > b, a <= b

(False, True, True, False)

#### logical operators

not or and

In [49]:
a = True
b = False
print('a and b is', a and b)
print('a or b is',  a or b)
print('not a is',   not a)

a and b is False
a or b is True
not a is False

#### Membership Operators

in not in

In [50]:
x = 4
y = 8

v_list = [1, 2, 3, 4, 5 ];

if ( x in v_list ):
    print("Line 1 - x is available in the given list")
else:
    print("Line 1 - x is not available in the given list")

if ( y not in v_list ):
    print("Line 2 - y is not available in the given list")
else:
    print("Line 2 - y is available in the given list")

Line 1 - x is available in the given list
Line 2 - y is not available in the given list

#### Identity Operators

is is not

In [51]:
x = 20
y = 20

if ( x is y ): 
	print("x & y  SAME identity")
    
if ( x is not y ):
	print("x & y have DIFFERENT identity")

x & y  SAME identity

# bitwise operators

# Conditional statements

- if
- elif
- else

In [52]:
X=10
Y=12

if (X < Y):
    print('X is less than Y')
    
elif (X>Y):
    print('X is greater than Y')
    
else:
    print('X and Y are equal')

X is less than Y

In [36]:
# If else statement
a=30

if (a<10):
    print("Less than 10")
if (10<=a<=25):
    print("In between 10 and 25")
else:
    print("Greater than 25")

Greater than 25

In [37]:
# if elif else

marks=70
if(marks<40):
    print("Fail")
elif(40<marks<=60):
    print("Average")
else:
    print("Congratulations!! Well done")

Congratulations!! Well done

# loops

In [53]:
for num in range(2, 10):
    print(num)

2
3
4
5
6
7
8
9

In [54]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [55]:
for i in range(10, 50):
    print(i)
    if (i == 15):
        break

10
11
12
13
14
15

In [ ]:
for i in range(10, 50):
    print(i)
    if (i == 15):
        break

In [56]:
for j in range(1, 11):
    print(j)
    if(j == 5):
        print('starting from top')
        continue
    print('counting..')

1
counting..
2
counting..
3
counting..
4
counting..
5
starting from top
6
counting..
7
counting..
8
counting..
9
counting..
10
counting..

In [57]:
for k in range(1,3):
    pass

print("Loop ends here")

Loop ends here

In [69]:
count=0
while(count<5):
    print(count)
    count=count+1

print("Good bye!")

#Example
rank=5
while(rank!=12):
    print("Rank is ",rank)
    rank+=1

0
1
2
3
4
Good bye!
Rank is  5
Rank is  6
Rank is  7
Rank is  8
Rank is  9
Rank is  10
Rank is  11

In [58]:
for i in range(5):
    for j in range(5):
        print (i, j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [18]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.